.navbar_menu{
  display: flex;
}

.information, .sales, .map, .similar_place, .tops, .tags{
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}

.description{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.gallerey{
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  margin-top: 5px;
}

.carousel-items{
  height: 800px;!important
}
.navbar{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
    display: flex;
}
 .sidebar{
  width: 96%;
  height: 100px;
  margin-left: auto;
  margin-right: auto;
}

.rest_logo{
  display: flex;
}

.yandex{
  width: 180px;
  height: 50px;
  box-shadow: 3px 5px 15px black;
  margin-top: 20px;
  margin-left: 10px;
}

.counter{
  width: 300px;
  height: 70px;
  background-color: white;
  border-radius: 3px;
  margin-left: 20px;
  margin-top: 20px;
  display: flex;
  box-shadow: 3px 5px 15px black;
}

.time_opening{
  display: none;
  box-shadow: 3px 5px 15px black;
  text-align: left;
  background-color: white;
  border-radius: 6px;
}

.time:hover .time_opening {
  display: block;
  position: absolute;
}

.tags{
  display: flex;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0;
}

.tags > li {
  background-color: white;
  box-shadow: 3px 5px 15px black;
  border-radius: 6px;
  height: 30px;
  width: auto;
padding-top: 10px;
padding-left: 3px;
padding-right: 3px;
  margin-right: 10px;
}

.times{
  font-size: 20px;
  font-weight: 500;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;

}

.counter_image{
  width: 59px;
  height: 73px;
}

.time_working{
  margin-top: 5px;
  font-size: 20px;
  font-weight: 500;
  font-weight: 500;
  margin-left: 5px;
  margin-right: 5px;
}

.rest_name{
  padding-top: 28px;
}

.rest_logo{
  width: 90%;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.restorant{
  margin-top: 60px;
  margin-left: 7px;
}

.rest_sales{
  width: 80%;
  margin-left: 100px;
  margin-top: 60px;

}

.rest_image{
  width: 120px;
  height: 120px;

}


.acardeon_content{
width: 200px;
height: 200px;
background-color: black;
}

ul{
  list-style-type: none;
}

.gallerey{
  height: 304px;
}

 .sidebar_menu{
   display: flex;
   width: 94%;
   margin-left: auto;
   margin-right: auto;
   background: #e0f6fd;
    padding: 0 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 100px;
 }

.photos{
  margin-left: auto;
  margin-right: auto;
  display: flex;
  width: 80%;
  height: 800px;
  margin-left: auto;
  margin-top: 60px;
  background-color: black;
}

.carousels{
  width: 70%;
  height: auto;
}



.image_box{
  width: 30%;
  height: auto;
  background-color: blue;
}

.images{
  width: 100%;
  height: 267px;
  background-color: red;
}

.sales{
  width: 70%;
  height: 300px;
  background-color: red;
}

.sales_content{
  display: flex;
    height: 300px;
}

.sales_image{
  width: 70%;
  height: auto;
  background-color: blue;
}

.sales_description{
  width: 30%;
  height: auto;
  text-align: center;
}

.similar_place, .top{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

.gallerey_inner{
  height: 200px;
  display: flex;
}

.gallerey_card{
  width: 300px;
  height: 300px;
}

.tekst_sverhu_kartinki {
  position: relative;
  top: -157px;
  left: 45px;
  text-transform: uppercase;
  color: white;
  width: 350px;
  padding: 10px;
  text-align: center;
  font: bold 24px/34px Helvetica, Sans-Serif;
}

.navbar_menu{
  margin-top: 40px;
}

.navbar_buttons{
  transition: .3s;
font-size: 16px;
line-height: 24px;
font-weight: 500;
padding: 12px 24px;
border-radius: 16px;
background-color: #e3e5ed;
margin-left: 20px;
}

.first{
  background: #f3f6f7;
}

.first, .second{
  height: 30px;
}

.name{

}

.value{
  padding-left: 50px;
  text-align: right;
}

.description_table{
  margin-left: auto;
margin-right: auto;
}

.map{
  width: 70%;
  height: 300px;
}
